body {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #020202;
}

.d-flex {
  display: flex;
}

.mar-t-1 {
  margin-top: 15px;
} 

.text-center {
  text-align: center;
}
