body {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #020202;
}

.d-flex {
  display: flex;
}

.mar-t-1 {
  margin-top: 15px;
} 

.text-center {
  text-align: center;
}

.gift-card {
  position:absolute;
  border-radius: 10px;
  border-color: #fff;
  background: #857d7d;
  width: 430px;
  color: #3d3d3d;
  font-family: sans-serif;
  display: flex;
	box-shadow: 0 2px 5px rgba(175, 175, 175, 0.849); 
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148817572.jpg?w=1380&t=st=1716253123~exp=1716253723~hmac=dbea1f0c35e8d8970ef6fc4fdb19fd806ee3bda0ea2e19259dc4334cb074b293);
}

.gift-card__image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  max-width: 150px;
  background-size: cover;
  background-image: url(https://cdn.shopify.com/s/files/1/2504/3282/files/annie-spratt-102799-unsplash.jpg?15904179471993750892);
}

.gift-card__content {
  padding: 30px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gift-card__msg {
  font-size: 10px;
  display: block;
  margin-top: 10px;
}

.gift-card__details {
  margin-top: auto;
  align-items: center;
  line-height: 1;
}

.gift-card__code {
  display: inline-block;
  background: white;
  color: black;
  padding: 10px 13px;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid #e3e3e3;
}

.gift-card__amount {
  font-size: 70px;
}
.gift-card__amount-remaining {
  font-size: 14px;
  margin-top: 7px;
}

canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}