*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.05),#050505), url(img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    width: 150px;  
    margin-left: -10px;
    position: fixed;
}
.banner-text{
    color: #fff;
    text-align: center;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 80px;
}
.banner-text p{
    padding-top: 30px;
    font-size: 30px;
}
.OfficialMC{
    color: #fff;
    padding-top: 100px;
    text-align: center;
}
.OfficialMC p{
    padding-top: 30px;
}
.OfficialMC .gif2, .gif3, .gif4{
    padding-top: 30px;
    padding-bottom: 30px;
}
.TLauncher{
    color: #fff;
    padding-top: 100px;
    text-align: center;
}
.TLauncher p{
    padding-top: 30px;
}
.TLauncher a, a:visited, a:active {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
   }
.TLauncher a:hover{
    color: greenyellow;
}
.TLauncher .gif1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.TLauncher .settings{
    padding-top: 60px;
    padding-bottom: 10px;
}
.menu{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 130px;
    left: 39px;
    color: #fff;
}
.menu ul li a, a:visited a:active{
    color: #fff;
    text-decoration: none;
}
