*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.05),#050505), url(img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    width: 150px;  
    height: auto;
    margin-left: -10px;
    position: fixed;
}
.banner-text{
    color: #fff;
    text-align: center;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 81px;
}
.banner-text p{
    padding-top: 30px;
    font-size: 30px;
}
.OfficialMC{
    color: #fff;
    padding-top: 100px;
    text-align: center;
}
.OfficialMC p{
    padding-top: 30px;
}
.OfficialMC .gif2, .gif3, .gif4{
    padding-top: 30px;
    padding-bottom: 30px;
}
.TLauncher{
    color: #fff;
    padding-top: 100px;
    text-align: center;
}
.TLauncher p{
    padding-top: 30px;
}
.TLauncher a, a:visited, a:active {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
   }
.TLauncher a:hover{
    color: greenyellow;
}
.TLauncher .gif1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.TLauncher .settings{
    padding-top: 60px;
    padding-bottom: 10px;
}
.menu{
    position: fixed;
    top: 130px;
    left: 39px;
    color: #fff;
}
.menu ul li a, a:visited a:active{
    color: #fff;
    text-decoration: none;
}
/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .banner-text h1 {
        font-size: 24px;
    }
    .OfficialMC, .TLauncher {
        padding: 10px;
    }
    .menu a {
        font-size: 16px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .menu{
        position: fixed;
        top: 40px;
        left: 90px;
        color: #fff;
    }
    .logo{
        width: 100px;  
        height: auto;
        margin-left: -10px;
        position: fixed;
    }
}
